@font-face {
    font-family: "Montseratt-Regular";
    src: url(Assests/Fonts/Montserra/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montseratt-Bold";
    src: url(Assests/Fonts/Montserra/Montserrat-Bold.ttf);
}
body,h1{
    font-family: "Montseratt-Regular" ;
    color: var(--white) !important;
}
:root{
    --purple: rgb(182, 83, 199);
    --light-purple: rgb(230,195,235);
    --lighter-purple:rgb(248,237,251);
    --blue:rgb(125,82,196);
    --white:rgb(255,255,255);
    --section-bg: rgb(250, 243, 251);
    --grey: rgb(54,54,54);
    --light-grey: rgb(71, 70, 70);
}
/* For all main heading */
.main-heading{
    font-family: "Montseratt-Bold";
    color: var(--grey);
    text-transform: capitalize;
}
.main-heading>span{
    color: var(--blue);
}
/* For all Paragraph */
.paragraph{
    font-size:18px;
    line-height: 24px;
}
main .paragraph{
    color: var(--light-grey);
}
/* Button */
.button{
    color: var(--purple);
    background-color: var(--white);
    padding: 14px 45px ;
    border-radius:30px;
    font-size:17px;
    font-weight: 600;
    border: 0;
}
.pur{
    background-color: var(--purple) !important;
    color: var(--white) !important;
}
.button:hover{
    opacity:0.9;
}
/* For All section heading */
h3.main-heading{
    font-size: 38px;
}
/* For all semi heading */
h4.main-heading{
    font-size: 32px;
}
/* For all Semi small Headings */
h5.main-heading{
    font-size:25px ;
}
/* for Cards */
.ser-card{
    /* margin-top: 18px;
    height: 330px; */
    background-color: var(--white);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ser-card-top{
    border-radius: 20px;
    border-top: 2px solid var(--purple);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ser-card>h4{
    color: var(--purple); 
}
.m-inline{
    margin-inline:0;
}







/* ------ Header ------ */
.header{
    position:relative;
    background-color:var(--purple);
}
/* ------ Navbar ------ */
.nav-link{
    display: inline;
    color:var(--light-purple);
    padding:0 0 3px 0 !important;

}
.nav-link.active,.nav-link:focus,.nav-link:hover{
    color:var(--white) !important;
}
.nav-link.active{
    border-bottom: 2px solid ;
}
/* ------ Hero Section  ------ */
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
0% {
    transform: translate3d(-90px,0,0);
}
100% { 
    transform: translate3d(85px,0,0);
}
}

/* ------ Main ------ */
main{
    margin-top: 170px;
    gap: 180px;
}
/* Service Section */
#service-section  .ser-card{
    margin-top: 18px;
    height: 360px;
}
/* Guide Section */
.bullet {
    width: 60px;
    height: 60px;
    background-color: var(--light-purple);
    border-radius: 50%;
    margin-right:25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  /* Ensure the icon appears above the ::before pseudo-element */
}
.bullet::before {
    content: "";
    width: 80px;
    height: 80px;
    background-color: var(--lighter-purple);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Place the circle behind the main bullet */
}
/* Features Section */
#featured-section  .ser-card{
    margin-top:18px;
    height: 480px;
}
/* Community Section */
#community-section{
    background-color:var(--section-bg);
    margin-inline: -12px;
    padding-block: 150px;
}
#community-section>.container{
    gap: 120px;
}
.step {
    border: 1px solid white;
    border-radius:7px;
    text-align: center;
}
#team-members-box{
    background-color: var(--purple);
    position: absolute;
    right: 0;
    bottom: 0;
}

#image-wrapper::after {
    content: '';
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(182, 83, 199,0.2);
    border-radius: 1rem;
}
#play-button{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:var(--purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    z-index: 1;

}


















/* ------ Breakpoints  ------ */
@media (max-width:1400px) { 
    .paragraph{
        font-size:16px;
    }
    h1.main-heading{
        font-size:  calc(1.375rem + 1.5vw);
    }
    main{
        gap: 150px;
    }
    #service-section  .ser-card{
        margin-top: 15px;
        height: 320px;
    }
    h3.main-heading{
        font-size: 35px;
    }
    h5.main-heading{
        font-size:20px ;
    }
    h4.main-heading{
        font-size:28px ;
    }



}
@media (max-width: 1200px) { 
    main{
        margin-top: 150px;
    }
    .step {
        font-size: 15px;
      }
}
@media (max-width: 992px) { 
    .navbar-nav{
        background-color: rgb(255, 255, 255,0.1);
    }
    .paragraph{
        font-size:15px;
    }
    /* Button */
    .button{
        padding: 10px 30px ;
        font-size:15px;
    }
    main{
        gap: 130px;
    }
    h3.main-heading{
        font-size: 30px;
    }
    h5.main-heading{
        font-size:18px ;
    }
    h4.main-heading{
        font-size:25px ;
    }
    .bullet {
        width: 56px;
        height: 56px;
        margin-right:4px;
    }
    .bullet::before {
        width: 72px;
        height: 72px;
    }
    .step {
        font-size: 12px;
      }
      #team-members-box{
        position: relative;
      }

    
}
@media (max-width: 768px) { 
    /*Shrinking for mobile*/
    .waves {
        height:40px;
        min-height:40px;
    }
    main{
        margin-top: 130px;
    }
    .bullet {
        margin-right:0

    }
    #play-button{
        width:50px;
        height:50px
    }
    


}
@media (max-width:576px) {
    /* ------ Header ------ */
    /* ------ Navbar ------ */
    .navbar-brand{
        width: 35px !important;
    }
    main{
        margin-top:120px;
    }
    h3.main-heading{
        font-size: 28px;
    }
    h4.main-heading{
        font-size:21px ;
    }
    .bullet {
        width: 35px;
        height: 35px;
        top: 5px;

    }
    .bullet::before {
        width: 50px;
        height: 50px;

    }
    #community-section>.container{
        gap: 60px;
    }
    #play-button{
        width:40px;
        height:40px
    }
    
    

}
    